alias diskspace="du -S | sort -n -r |less"

# Directory navigation aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'


# Search Aliases

# Search cmd line history
alias h="history|grep "
# Find in current dir and subdirs
alias f="find . |grep "
# Search running processes

# Git Aliases

alias p="ps aux |grep "
alias gs='git status'
alias gl='git log'
alias gd='git diff'
alias gp='git push'
alias gacm='git add -A && git commit -m'
alias glog='git log'
alias diff="nvim - '+DiffviewOpen develop'"
alias diffh="nvim - '+DiffviewFileHistory $1'"

# Bookmarks
alias dev='cd ~/dev_projects && ls -lA'
alias aliases='cd ~/.dotfiles && nvim .aliases'
alias config='cd ~/.dotfiles'
alias doc='cd ~/Documents && ls -lA'
alias dl='cd ~/Downloads && ls -lA'

# Zsh
d='dirs -v | head -10'
1='cd -'
2='cd -2'
3='cd -3'
4='cd -4'
5='cd -5'
6='cd -6'
7='cd -7'
8='cd -8'
9='cd -9'

alias vim='nvim'

alias azc='az repos pr checkout --id $(az repos pr list --output table| fzf | cut -d " " -f1)'

#development
alias syncui="tmux attach-session -t syncui"
alias nrs="npm run serve-local"
